Repository RinkAttendant6/threatsweeper: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --ignore-unknown --write

Change links colour
  src/styles/main.scss
Due: prettier --ignore-unknown --write

Evaluate achievements on right-click and double click as well
  src/Game.tsx
Due: eslint --cache --fix, prettier --ignore-unknown --write

Improve error handling
  src/ErrorBoundary.tsx
  src/GameInfo.tsx
Due: eslint --cache --fix, prettier --ignore-unknown --write

Fix weakest link achievement logic
  src/AchievementsEngine.ts
Due: eslint --cache --fix, prettier --ignore-unknown --write

Fix achievement evaluation logic
  src/Game.tsx
Due: eslint --cache --fix, prettier --ignore-unknown --write

Minor css modification
  src/styles/main.scss
Due: prettier --ignore-unknown --write

Handle coffee break achievement
  package-lock.json
  package.json
  src/AchievementsEngine.ts
  src/Game.tsx
  src/GameEngine.ts
Due: eslint --cache --fix, prettier --ignore-unknown --write

Documentation updates
  README.md
  package-lock.json
  package.json
Due: none

Fix links in README
  README.md
Due: none

Evaluate achievements upon page visibility change when game is in progress. Fixes #20.
  src/Game.tsx
Due: eslint --cache --fix, prettier --ignore-unknown --write

Add GitHub fork ribbon
  index.html
  package-lock.json
  package.json
  src/App.tsx
  src/styles/main.scss
Due: eslint --cache --fix, prettier --ignore-unknown --write

Highlight flag counter when too many are used
  src/GameStatus.tsx
Due: eslint --cache --fix, prettier --ignore-unknown --write

Update dependencies
  package-lock.json
  package.json
Due: none

chore: update dependencies
  .babelrc
  package-lock.json
  package.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ RinkAttendant6/threatsweeper@57ee8022ce84b3f6300af61f0ff0de2d3840957e 🚀
  favicon.5b2dc4de.svg
  favicon.d0e2fe3c.png
  index.02e32027.js
  index.02e32027.js.map
  index.03d6ac90.css
  index.03d6ac90.css.map
  index.5aedad70.css
  index.5aedad70.css.map
  index.html
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

code style changes
  src/AchievementsEngine.ts
  src/AchievementsPanel.tsx
  src/Game.tsx
  src/GameBoard.tsx
  src/GameEngine.ts
  src/GameInfo.tsx
  src/GameStatus.tsx
  src/LevelSelectorPanel.tsx
  src/index.ts
  src/styles/main.scss
Due: eslint --cache --fix, prettier --ignore-unknown --write

chore: update TypeScript
  package-lock.json
  package.json
Due: none

chore: update dependencies
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

update dependencies
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: src/*.{js,ts,tsx}
  prettier --ignore-unknown --write: any of: src/**
